.admin_dashboard_wrapper {
  .add-project {
    .add-project__wrapper {
      margin-top: 88px;
      h2 {
        width: 80%;
        margin: 0 auto;
        display: block !important;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #3c4252;
        margin-bottom: 60px;
      }
      .hello-page__steps {
        margin-bottom: 48px;
      }
    }
    .ant-form-item-control-input-content {
      justify-content: center;
    }
  }
}
