.projects {
  .project {
    display: flex;
    .project__forms {
      width: 730px;
      flex-shrink: 0;
      position: relative;
      padding-top: 56px;
      .removed-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 48px;
          margin-bottom: 16px;
        }
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #7f8896;
        }
      }
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #3c4252;
        margin: 16px 0 8px 30px;
      }
      .project__forms_title {
        padding: 24px 32px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7f8896;
        visibility: hidden;
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #3c4252;
          display: inline-flex;
          margin-right: 12px;
        }
      }
      .project__form {
        padding: 24px 40px;
        margin: 0 40px 32px 30px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
        border-radius: 10px;
        position: relative;
        transition: background-color 300ms ease;
        &.red {
          background-color: rgba(246, 87, 71, 0.15);
          input,
          textarea,
          .ant-select-selector {
            background-color: rgba(246, 87, 71, 0);
          }
        }
        &.removed {
          opacity: 0;
          visibility: hidden;
        }
        .project__form_remove {
          position: absolute;
          top: 16px;
          right: 16px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          .icon-delete-file {
            .icon-fill {
              fill: #f65747;
            }
          }
        }
        .ant-form-item {
          margin-bottom: 0;
        }
        .project__form_inputs {
          margin-bottom: 24px;
          .ant-form-item-explain {
            display: none;
          }
        }
        .project__form_dates {
          display: flex;
          justify-content: space-between;
          margin-bottom: 24px;
          .ant-form-item-explain {
            display: none;
          }
          .start-dates {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            width: calc(50% - 20px);
            justify-content: space-between;
          }
          .end-dates {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            width: calc(50% - 20px);
            justify-content: space-between;
          }
          .row-months {
            width: calc(60% - 16px);
          }
          .row-year {
            width: 40%;
          }
          .months-select {
            // width: 133px;
          }
          .years-select {
            // width: 88px;
            // flex-shrink: 0;
            // margin-left: 16px;
          }
        }
        .project__form_submit {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          .remove-project {
            color: #f65747;
            border-color: #f65747;
            &:hover {
              box-shadow: 0px 4px 12px rgba(245, 48, 48, 0.5);
            }
          }
        }
      }
    }
    .project__docs {
      background-color: #e8eef2;
      width: 261px;
      flex-shrink: 0;
      padding: 0 16px;
      h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #3c4252;
        margin-bottom: 8px;
      }
      .step-file--status {
        margin: 0;
      }
      .project__docs_list {
        margin-top: 24px;
        .ant-form-item.documents {
          .ant-form-item-control-input-content {
            & > span {
              width: 100%;
            }
          }
        }
        .ant-upload-list {
          .ant-upload-list-text-container {
            margin: 0 0 16px 0 !important;
            padding: 0 !important;
            transition: none !important;
            height: 22px !important;
            &.ant-upload-animate-leave-active {
              display: none;
            }
            .ant-upload-list-item {
              margin: 0;

              .ant-upload-list-item-info {
                background-color: transparent !important;
              }
              .ant-upload-text-icon {
                width: 24px;
                height: 24px;
                background: url('../../../assets/img/icon-pdf.svg');
                margin-right: 8px;
                .anticon {
                  display: none;
                }
              }
              .ant-upload-list-item-name {
                padding: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 114.9%;
                color: #3c4252;
              }
              .ant-upload-list-item-card-actions {
                .ant-btn {
                  opacity: 1 !important;
                  outline: none !important;
                  border: none !important;
                }
              }
            }
          }
        }
        .ant-upload-select {
          background: #ffffff;
          border: 1px dashed #305ff5;
          box-sizing: border-box;
          border-radius: 10px;
          min-height: 42px;
          margin-bottom: 12px;
          width: 100%;
          .ant-upload {
            padding: 0;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 8px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 114.9%;
            color: #3c4252;
            img {
              margin-right: 8px;
            }
          }
        }
        .file--list {
          list-style: none;
          padding: 0 0 0 8px;
          margin: 0;
          li {
            display: flex;
            align-items: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 114.9%;
            color: #3c4252;
            margin-bottom: 16px;
            img {
              margin-right: 8px;
            }
            span {
              flex-grow: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .file--list-remove {
              width: 24px;
              height: 24px;
              margin-left: auto;
              cursor: pointer;
              flex-shrink: 0;
              margin-left: 8px;
              .icon-delete-file {
                width: 16px;
              }
            }
          }
        }
      }
    }
  }
}
