.projects {
  .project {
    display: flex;
    .project__forms {
      width: 730px;
      flex-shrink: 0;
      position: relative;
      padding-top: 56px;
      .removed-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 48px;
          margin-bottom: 16px;
        }
        span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #7f8896;
        }
      }
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #3c4252;
        margin: 16px 0 8px 30px;
      }
      .project__forms_title {
        padding: 24px 32px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7f8896;
        visibility: hidden;
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #3c4252;
          display: inline-flex;
          margin-right: 12px;
        }
      }
      .project__form {
        padding: 24px 40px;
        margin: 0 40px 32px 30px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
        border-radius: 10px;
        position: relative;
        transition: background-color 300ms ease;
        &.red {
          background-color: rgba(246, 87, 71, 0.15);
          input,
          textarea,
          .ant-select-selector {
            background-color: rgba(246, 87, 71, 0);
          }
        }
        &.removed {
          opacity: 0;
          visibility: hidden;
        }
        .project__form_remove {
          position: absolute;
          top: 16px;
          right: 16px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          .icon-delete-file {
            .icon-fill {
              fill: #f65747;
            }
          }
        }
        .ant-form-item {
          margin-bottom: 0;
        }
        .project__form_inputs {
          margin-bottom: 24px;
          .ant-form-item-explain {
            display: none;
          }
        }
        .project__form_dates {
          display: flex;
          justify-content: space-between;
          margin-bottom: 24px;
          .ant-form-item-explain {
            display: none;
          }
          .start-dates {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            width: calc(50% - 20px);
            justify-content: space-between;
          }
          .end-dates {
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            width: calc(50% - 20px);
            justify-content: space-between;
          }
          .row-months {
            width: calc(60% - 16px);
          }
          .row-year {
            width: 40%;
          }
          .months-select.errorOption {
            .ant-select-selector {
              border: 1px solid red;
            }
          }
          .years-selectS.errorOption {
            .ant-select-selector {
              border: 1px solid red;
            }
          }
        }
        .project__form_submit {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          .remove-project {
            color: #f65747;
            border-color: #f65747;
            &:hover {
              box-shadow: 0px 4px 12px rgba(245, 48, 48, 0.5);
            }
          }
        }
      }
    }
    .project__docs {
      background-color: #e8eef2;
      width: 261px;
      flex-shrink: 0;
      padding: 0 16px;
      h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #3c4252;
        margin-bottom: 8px;
      }
      .step-file--status {
        margin: 0;
      }
    }
  }
}
