.shedule_modal {
  div {
    h2 {
      width: 100%;
      margin: 16px auto 32px auto;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #3c4252;
    }
  }
  .wrapper_text_timePicker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    b {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #3c4252;
      margin-bottom: 8px;
      margin-top: 20px;
    }
    .shedule_time_picker {
      background: #ffffff;
      border: 1px solid #305ff5;
      border-radius: 10px;
    }
  }
  .sheduleModal__block_btn {
    width: 45%;
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
