.nav-left {
  width: 232px;
  height: 100%;
  background: url('../../../assets/img/aside-bg.png') no-repeat center / cover;
  position: fixed;
  top: 0;
  left: 0;
  .nav__logo {
    height: 62px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #3c4252;
    margin-bottom: 8px;
    a {
      color: currentColor;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  .nav__scroll {
    display: flex;
    flex-direction: column;
    height: calc(100% - 63px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background-color: #5d627c;
    }
  }
  .ant-menu {
    background: none;
    .ant-menu-item {
      margin-bottom: 8px;
      margin-top: 0;
      padding-left: 24px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #7f8896;
      display: flex;
      align-items: center;
      &.ant-menu-item-selected {
        background-color: transparent;
        font-weight: 600;
        a {
          color: #305ff5;
          &::before {
            opacity: 1;
          }
        }
      }
      &:hover {
        a {
          color: #305ff5;
        }
      }
      &::after {
        display: none;
      }
      &.profile {
        margin-top: 30px;
      }
      a {
        color: currentColor;
        &::before {
          left: 8px;
          right: 8px;
          border-radius: 10px;
          background: rgba(48, 95, 245, 0.2);
          opacity: 0;
        }
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7f8896;
        display: flex;
        align-items: center;
        .ant-menu-submenu-arrow {
          right: 37px;
          &::before {
            background: #7f8896;
            height: 2px;
            width: 8px;
            right: 1px;
          }
          &::after {
            background: #7f8896;
            height: 2px;
            width: 8px;
            left: 0;
          }
        }
      }
      .ant-menu {
        background: none;
        .ant-menu-item {
          padding-left: 40px !important;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .nav__help {
    margin-top: auto;
    padding-left: 24px;
    .nav__help_title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #3c4252;
      margin-bottom: 14px;
    }
    a {
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #3c4252;
      margin-bottom: 14px;
      &:hover {
        color: #305ff5;
      }
      svg {
        margin-right: 8px;
      }
    }
  }
  .nav__ask {
    margin-top: 56px;
    margin-bottom: 16px;
    .nav__ask_manager {
      display: flex;
      height: 40px;
      color: #3c4252;
      padding-left: 24px;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
      }
      b {
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        display: block;
      }
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        opacity: 0.8;
        display: block;
      }
    }
    .ant-btn {
      width: calc(100% - 16px);
      margin: 30px 8px 0 8px;
    }
  }
}
