.active-claims__steps_step {
  &.financial {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(48, 95, 245, 0.7);
  }
}

.ant-drawer-title-wripper {
  img {
    cursor: pointer;
  }
}
