.dashboard.profile {
  .main-content {
    padding: 0 0 22px 0;
    .profile__general {
      padding: 32px 32px 24px 32px;
      background-color: #fff;
      border-bottom: 1px solid rgba(192, 196, 203, 0.5);
      .profile__general_table {
        margin: 24px 0 0 0;
        padding: 0;
        list-style: none;
        width: 640px;
        li {
          display: flex;
          padding: 9px 16px 10px 16px;
          &:nth-child(odd) {
            background: rgba(238, 242, 246, 0.85);
          }
          .label {
            width: 180px;
            flex-shrink: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #7f8896;
          }
          .details {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #3c4252;
            input {
              width: 320px;
            }
            .ant-select {
              width: 200px;
            }
            .alert {
              display: inline-flex;
              align-items: center;
              .icon-warning {
                margin-right: 8px;
                .icon-fill {
                  fill: #f65747;
                }
              }
              span {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: #f65747;
              }
              a {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #305ff5;
                margin-left: 24px;
              }
            }
            p {
              margin: 14px 0 0 0;
            }
          }
        }
      }
    }
    .profile__companies {
      padding: 32px;
      .profile__companies_list {
        margin: 24px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        .profile__company {
          width: 435px;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
          border-radius: 10px;
          h3 {
            height: 59px;
            display: flex;
            align-items: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #3c4252;
            padding: 16px;
            button {
              width: 22px;
              height: 22px;
              margin-left: 8px;
              cursor: pointer;
            }
          }
          .company--row {
            display: flex;
            padding: 9px 16px 10px 16px;
            &:nth-child(even) {
              background: rgba(238, 242, 246, 0.85);
            }
            .label {
              width: 180px;
              flex-shrink: 0;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              color: #7f8896;
            }
            .details {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              color: #3c4252;
              .ant-upload-drag {
                background: #ffffff;
                border: 1px dashed #305ff5;
                box-sizing: border-box;
                border-radius: 10px;
                width: 200px;
                .ant-upload-btn {
                  padding: 8px;
                  .upload-title {
                    display: flex;
                    align-items: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 114.9%;
                    color: #3c4252;
                    img {
                      margin-right: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    h2 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #3c4252;
      display: flex;
      align-items: center;
      button {
        width: 22px;
        height: 22px;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }
}
