.projects {
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  header {
    background-color: #e8eef2;
    .projects__header_wrapper {
      width: 660px;
      height: 60px;
      border-bottom: 1px solid rgba(192, 196, 203, 0.5);
      display: flex;
      align-items: center;
      padding: 0 24px 0 32px;
      background-color: #f7f7fa;
    }
    .header--back {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #3c4252;
      margin-right: auto;
      img {
        margin-right: 8px;
      }
    }
  }
  .projects__wrapper {
    display: flex;
    width: 100%;
    flex-grow: 1;
    .ant-row.ant-form-item.hidden {
      margin: 0;
      height: 0;
    }
    .projects-list {
      display: flex;
      background: linear-gradient(90deg, rgba(247, 247, 250, 1) 660px, rgba(232, 238, 242, 1) 660px);
      flex-grow: 1;
      .ant-skeleton {
        width: 660px;
        .ant-skeleton-content {
          padding: 32px;
        }
      }
      .ant-form {
        display: flex;
        flex-direction: column;
        .ant-space {
          align-items: inherit;
          .ant-space-item {
            display: flex;
          }
        }
        .project__form_submit-external {
          padding: 8px 40px 56px 30px;
          display: flex;
          .ant-row {
            margin-bottom: 0;
          }
          .ant-btn {
            margin-right: 24px;
          }
        }
      }
    }

    .projects__viewer {
      background-color: #e8eef2;
      flex-grow: 1;
      padding: 0 32px 0 16px;
      .projects__viewer_document {
        height: calc(100% - 120px);
        position: fixed;
        left: calc(660px + 261px + 16px);
        right: 32px;
        z-index: 10;
        transform: translate3d(0, 0, 0);
        .document-viewer {
          width: 100%;
          height: 100%;
          iframe {
            position: relative;
            z-index: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}
