.dashboard.documents {
  .main-content {
    padding: 0;
    .documents-wrapper {
      display: flex;
      flex-grow: 1;
      .documents__table {
        flex-grow: 1;
        .documents__table_head {
          padding: 32px 24px 20px 32px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(192, 196, 203, 0.5);
          .show {
            display: inline-flex;
            align-items: center;
            margin-right: auto;
            & > span {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              color: #7f8896;
              margin-right: 16px;
            }
            b {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              color: #3c4252;
            }
          }
          .head--download {
            display: inline-flex;
            align-items: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 114.9%;
            color: #305ff5;
            transition: opacity 200ms ease;
            cursor: pointer;
            &:disabled {
              opacity: 0.4;
              cursor: default;
            }
            .icon-download {
              margin-right: 8px;
              .icon-fill {
                fill: #305ff5;
              }
            }
          }
          .head--delete {
            display: inline-flex;
            align-items: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 114.9%;
            color: #305ff5;
            margin-left: 40px;
            transition: opacity 200ms ease;
            cursor: pointer;
            &:disabled {
              opacity: 0.4;
              cursor: default;
            }
            .icon-delete-file {
              margin-right: 8px;
              width: 13px;
              .icon-fill {
                fill: #305ff5;
              }
            }
          }
          .documents__table_sort {
            width: 110px;
            position: relative;
            &.ant-select-open {
              .ant-select-arrow {
                transform: scale(-1);
                top: 53%;
              }
            }
            .ant-select-arrow {
              top: 50%;
              transition: transform 250ms ease;
            }
            .ant-select-selector {
              border: none !important;
              background: none;
              box-shadow: none;
            }
            .ant-select-item-option.ant-select-item-option-selected {
              font-weight: normal;
            }
          }
        }
        .documents__table_body {
          .ant-skeleton {
            padding: 32px;
          }
          .documents__table_empty {
            padding-top: 170px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #7f8896;
            text-align: center;
            img {
              filter: grayscale(1);
              opacity: 0.4;
              width: 48px;
              margin-bottom: 16px;
            }
          }
          table {
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
      .documents__filter {
        width: 272px;
        flex-shrink: 0;
        background: url('../../assets/img/bg-comments.png') repeat;
        padding: 29px 24px 32px 24px;
        .documents__filter_head {
          display: flex;
          align-items: center;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #3c4252;
          margin-bottom: 40px;
          .icon-filter {
            margin-right: 10px;
          }
        }
        .documents__filter_form {
          section {
            margin-bottom: 40px;
            h3 {
              font-family: Roboto;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 150%;
              color: #3c4252;
              margin-bottom: 12px;
            }
            .ant-form-item-control-input {
              min-height: auto;
              margin-bottom: 12px;
            }
            .claims--title {
              display: inline-block;
              white-space: nowrap;
            }
            .ant-form-item {
              margin-bottom: 0;
              img {
                height: 23px;
                width: 23px;
                margin-bottom: 5px;
              }
            }
            .ant-checkbox-group {
              .ant-checkbox-wrapper {
                margin: 0 0 16px 0;
                display: flex;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
