.admin_dashboard_wrapper {
  .add_link {
    h2 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #3c4252;
      margin-top: 80px;
    }
    .create_link_form {
      .save_link {
        margin-left: 12px;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      .input_link {
        width: 477px;
      }
    }
  }
  .settings_page {
    .ant-table-thead > tr > th {
      padding: 16px 16px;
    }
    .ant-table-tbody > tr > td {
      padding: 1px 16px;
    }
    .ant-skeleton.ant-skeleton-active {
      &:first-child {
        margin-top: 250px;
      }
    }
    width: 95%;
    margin: 24px auto 0px auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
    border-radius: 10px;
    height: 85vh;
    padding: 40px 64px 0px 64px;
    #name {
      margin-top: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .ant-input {
        width: 400px !important;
      }
      .ant-btn.ant-btn-primary {
        margin-left: 16px;
      }
    }
    .box_title_logOut {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title {
        h2 {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #3c4252;
        }
      }
      .block_log {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        cursor: pointer;
        padding: 3px;
        h3 {
          margin-bottom: 0px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #305ff5;
        }
      }
    }
    .table_admins {
      .ant-pagination-options {
        position: relative;
        &:before {
          content: 'Page:';
          position: absolute;
          top: 4px;
          left: 5px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #3c4252;
        }
        .ant-pagination-options-quick-jumper {
          color: transparent;
        }
      }
      thead {
        tr {
          .ant-table-cell.except_avatar {
            padding: 0px;
            width: 20px;
          }
        }
        tr {
          .ant-table-cell.except_admin_name {
            .ant-table-column-sorters {
              padding-left: 0px;
            }
          }
        }
      }
      tbody {
        tr {
          .ant-table-cell.except_avatar {
            padding-right: 0px;
          }
          .ant-table-cell.deleteBtn {
            text-align: center !important;
            padding: 18px;
          }
          .ant-table-cell {
            button {
              padding: 9px;
            }
          }
        }
      }
      h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #3c4252;
        margin-bottom: 0px;
        margin-left: 16px;
      }
      .wrapper_img_name {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      padding-top: 38px;
      max-width: 620px;
      .ant-table-tbody {
        .ant-table-row {
          &:nth-child(even) {
            background: rgba(238, 242, 246, 0.85) !important;
          }
        }
      }
      .ant-table-thead {
        tr {
          .ant-table-cell {
            background: rgba(192, 196, 203, 0.2) !important;
          }
        }
      }
      .ant-table-tbody > tr > td {
        border-bottom: 0px !important;
      }
    }
  }
}
