.project__docs_list {
  margin-top: 24px;
  .ant-form-item.documents {
    .ant-form-item-control-input-content {
      & > span {
        width: 100%;
      }
    }
  }
  .ant-upload-list {
    .ant-upload-list-text-container {
      margin: 0 0 16px 0 !important;
      padding: 0 !important;
      transition: none !important;
      height: 22px !important;
      &.ant-upload-animate-leave-active {
        width: 24px;
        height: 24px;
        display: none;
      }
      .ant-upload-list-item {
        margin: 0;

        .ant-upload-list-item-info {
          background-color: transparent !important;
        }
        .ant-upload-text-icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          margin-left: 6px;
        }
        .ant-upload-list-item-name {
          padding: 0;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 114.9%;
          color: #3c4252;
        }
        .ant-upload-list-item-card-actions {
          .ant-btn {
            opacity: 1 !important;
            outline: none !important;
            border: none !important;
          }
        }
      }
    }
  }
  .ant-upload-select {
    background: #ffffff;
    border: 1px dashed #305ff5;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 42px;
    margin-bottom: 12px;
    width: 100%;
    .ant-upload {
      padding: 0;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 8px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 114.9%;
      color: #3c4252;
      img {
        margin-right: 8px;
      }
    }
  }
  .file--list {
    list-style: none;
    padding: 0 0 0 8px;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 114.9%;
      color: #3c4252;
      margin-bottom: 16px;
      img {
        margin-right: 8px;
      }
      span {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .file--list-remove {
        width: 24px;
        height: 24px;
        margin-left: auto;
        cursor: pointer;
        flex-shrink: 0;
        margin-left: 8px;
        .icon-delete-file {
          width: 16px;
        }
      }
    }
  }
}
