.table_wrapper {
  .ant-table {
    .ant-table-tbody > tr > td {
      padding: 13px 16px;
    }
  }
  .clients_admin_skeletons {
    margin-top: 90px;
  }
  .ant-table-content {
    table {
      .ant-empty.ant-empty-normal {
        min-height: 45vh;
        line-height: 45vh;
      }
    }
  }
  padding: 20px 24px;
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 12.5px 10px !important;
    white-space: nowrap;
  }
  #basic {
    .ant-checkbox-wrapper {
      padding: 5px 0px;
      margin-top: 5px !important;
    }
    .ant-checkbox-wrapper {
      margin-left: 10px !important;
    }
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  .dropdown_filter {
    text-align: end;
    padding: 11px 21px 13px 0px;
    .ant-dropdown-arrow {
      display: none !important;
    }
    .ant-dropdown-menu {
      border-radius: 10px !important;
      width: 256px !important;
      height: 328px;
      .ant-dropdown-menu-item {
        padding: 5px 5px !important;
        margin-bottom: 5px !important;
      }
      .ant-dropdown-menu-item-active {
        &:hover {
          background-color: transparent !important;
        }
      }
      span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #3c4252;
        padding-left: 8px;
      }
    }
    .btn_filter {
      cursor: pointer;
      padding: 3px;
      h3 {
        margin-bottom: 0px !important;
        margin-left: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #305ff5;
      }
    }
  }
  .ant-table-wrapper {
    .ant-table-tbody {
      .ant-table-cell {
        .active_claim_id,
        .active_client_name {
          margin-bottom: 0px !important;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15.5px;
          color: #305ff5;
        }
      }
      tr {
        .ant-table-cell.ant-table-column-sort {
          background-color: transparent !important;
        }
      }
      tr {
        td.ant-table-cell.td_progress {
          .wrapper_progress {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .ant-table-thead {
      .ant-table-column-sorters {
        padding: 0px;
        span {
          white-space: nowrap;
        }
      }
      tr {
        th {
          padding-left: 16px;
        }
      }
    }

    .ant-table-row.ant-table-row-level-0 {
      .ant-table-cell {
        max-width: 300px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        //padding-left: 30px !important;
      }
      &:nth-child(even) {
        background: rgba(238, 242, 246, 0.85) !important;
      }
    }
  }
  .pagination_clients {
    margin-top: 40px;
    .ant-pagination-options {
      position: relative;
      &:before {
        content: 'Page:';
        position: absolute;
        top: 4px;
        left: 5px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #3c4252;
      }
      .ant-pagination-options-quick-jumper {
        color: transparent;
      }
      .ant-pagination-options-quick-jumper {
        input {
          border: 1.7px solid #305ff5 !important;
          border-radius: 4px;
          color: #305ff5 !important;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          color: #305ff5;
        }
      }
    }
    .ant-pagination {
      text-align: center !important;
      .ant-pagination-item {
        border: 1.7px solid #305ff5 !important;
        border-radius: 4px;
        a {
          color: #305ff5;
        }
      }
      .ant-pagination-item.ant-pagination-item-active {
        background: #305ff5;
        border-radius: 4px;
        a {
          color: white !important;
        }
      }
      .ant-pagination-prev {
        border: 1.7px solid #305ff5 !important;
        border-radius: 4px;
        .ant-pagination-item-link {
          border: none !important;
        }
      }
      .ant-pagination-next {
        border: 1.7px solid #305ff5 !important;
        border-radius: 4px;
        .ant-pagination-item-link {
          border: none !important;
        }
      }
      .anticon.anticon-right,
      .anticon.anticon-left {
        color: #305ff5 !important;
      }
    }
  }
}
