.app-dashboard {
  .main-content {
    overflow: auto;
    padding: 22px 32px 22px 32px;
    .dashboard-wrapper {
      min-width: 1100px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
