.hello-page__step {
  .costs--title {
    font-weight: bold;
    margin-bottom: 24px;
  }
  .step--grid {
    margin: auto;
    width: 700px;
  }
  .control-submit {
    .ant-btn {
      margin: 0 8px;
    }
  }
}
