.app-welcome {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0 16px 0;
    a {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 114.9%;
      color: #7f8896;
      margin: 0 24px;
    }
  }
}
