.login-page {
  .login-page__wrapper {
    text-align: center;
    padding-top: 56px;
    .login--form {
      width: 320px;
      margin: 48px auto 0 auto;
      .login--submit {
        margin-top: 32px;
        .ant-form-item-control-input-content {
          justify-content: center;
        }
      }
    }
  }
  .login-page--after-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #3c4252;
    opacity: 0.9;
  }
}
