.active-claims__steps_step {
  &.deliverables {
    background: #f5f5f5;
    box-shadow: 0px 4px 10px rgba(17, 51, 103, 0.1);
    border-radius: 10px;
    h2 span {
      background: none !important;
    }
  }
}
